
header{
    display: flex;
    flex-direction: row;
    text-align: right;
    margin-left: 35rem;

}
a:link {
            text-decoration: none;
            /*color: white;*/
        }

body div p1{


    color: blue;
}

body{
    background: greenyellow;
    text-align: left;

}
div.con{
    border-style: dashed;
    padding-top: 20px;
    border-width: 5px;
    border-color: black;
    width: 50%;
}
div div.contact{
    border-style: dashed;
    padding-top: 3px;
    border-width: 3px;
    border-color: green;
    display: flex;
    flex-direction: column;
}

div.about_me{
    border-style: dashed;
    padding-top: 3px;
    border-width: 3px;
    border-color: green;
    display: flex;
    flex-direction: column;
}

div.certificate{

    /*display: flex;*/
    /*flex-direction: column;*/
}

div.project{
    border-style: dashed;
    padding-top: 3px;
    border-width: 3px;
    border-color: green;
    display: flex;
    flex-direction: column;
}

div.work{
    border-style: dashed;
    padding-top: 3px;
    border-width: 3px;
    border-color: green;
    display: flex;
    flex-direction: column;
}

.con{
    background: white;
    border-radius: 20px;
    margin-left: 18rem;

}
div p2.me{
    border-radius: 10px;
    border-color: black;
    border-width: 1px;
    background: #29e129;
}

.bbb{
    /*background: blue;*/
     font-weight: bold;
}
button{

    border-radius: 5px;
    background: green;
}

footer{
    text-align: center;
}