{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Denislav Petrov</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>
<header>
    <form class="en" action="{% url 'en' %}">
            <button class="en" >EN</button>
            {% csrf_token %}
        </form>
    <form class="de" action="{% url 'de' %}">
            <button class="de" >DE</button>
            {% csrf_token %}
        </form>
</header>

<div class="main">

<div class="con">



<div class="top_lan">
    {% if mode %}
        <p2> {{ head.head_en }}</p2>
    {% else %}
        <p2>{{ head.head_de }}</p2>
    {% endif %}
</div>
<div class="contact">
    <p1> CONTACT:</p1>
    <span><p2 class="bbb"> First name: </p2><p2> {{ denislav.first_name }} </p2></span>
    <span><p2 class="bbb"> Last name: </p2><p2>{{ denislav.last_name }} </p2></span>
    <span><p2 class="bbb"> GitHub: </p2><p2><a href="{{ contact.git_hub }}">{{ contact.git_hub }}</a></p2></span>
    <span><p2 class="bbb"> LinkedIn:  </p2><p2>  <a href="{{ contact.linked_in }}">{{ contact.linked_in }}</a> </p2></span>
    <span><p2 class="bbb"> Phone: </p2><p2>{{ contact.phone }} </p2></span>
    <span><p2 class="bbb"> Email:  </p2><p2> {{ contact.email }} </p2></span>
</div>

<div class="about_me">


    {% if mode %}
        <p1> ABOUT ME:</p1>
        <p2 class="me"> "{{ denislav.about_me_en }}"</p2>
        <span><p2 class="bbb"> Skills-first: </p2><p2> {{ denislav.skills_first_en }} </p2></span>
        <span><p2 class="bbb"> Skills-second:  </p2><p2>{{ denislav.skills_second_en }}</p2></span>
        <span><p2 class="bbb"> Skills-third:  </p2><p2>{{ denislav.skills_third_en }}</p2></span>


    {% else %}
        <p1>  FÜR MICH:</p1>
        <p2 class="me"> "{{ denislav.about_me_de }}"</p2>
        <span><p2 class="bbb"> Kenntnisse-erste: </p2><p2>{{ denislav.skills_first_de }}</p2></span>
        <span><p2 class="bbb"> Kenntnisse-zweite: </p2><p2>{{ denislav.skills_second_de }}</p2></span>
        <span><p2 class="bbb"> Kenntnisse-dritte: </p2><p2>{{ denislav.skills_third_de }}</p2></span>

    {% endif %}
</div>

<div class="language">

    {% if mode %}
        <p1> LANGUAGES:</p1>
        <table>
    <tr>
        <th>Language</th>
        <th>Level</th>
    </tr>
    {%  for each in languages %}
        <tr>
            <td>{{ each.language_en }}</td>
            <td>{{ each.level_en}}</td>

        </tr>

    {% endfor %}
        </table>

    {% else %}
        <p1> SPRACHEN:</p1>
           <table>
    <tr>
        <th>Sprache</th>
        <th>Niveau</th>
    </tr>
    {%  for each in languages %}
        <tr>
            <td>{{ each.language_de }}</td>
            <td>{{ each.level_de}}</td>

        </tr>

    {% endfor %}
        </table>
    {% endif %}


</div>

<div class="certificate">
    {% if mode %}
        <p1> CERTIFICATIONS:</p1>
        <table>
    <tr>
        <th> </th>

    </tr>
    {%  for each in certificats %}
        <tr>
            <td>{{ each.name_en }}</td>
        </tr>
    {% endfor %}
        </table>
    {% else %}
        <p1> ZEUGNISSE:</p1>
           <table>
            <tr>
                <th> </th>
            </tr>
    {%  for each in certificats %}
        <tr>
            <td>{{ each.name_de }}</td>
        </tr>

    {% endfor %}
        </table>
    {% endif %}


</div>

<div class="project">
    {% if mode %}
        <p1> PROJECTS:</p1>
        {%  for each in projects %}
            <span><p2 class="bbb"> Project name: </p2><p2>{{ each.title_en }}</p2></span>
            <span><p2 class="bbb"> FROM - TO: </p2><p2>{{ each.duration_en }}</p2></span>
            <span><p2 class="bbb"> Description: </p2><p2>{{ each.description_en }}</p2></span>
            <span><p2 class="bbb"> Used: </p2><p2>{{ each.used }}</p2></span>
            <span><p2 class="bbb"> Link: </p2><p2><a href="{{ each.link }}">{{ each.link }}</a></p2></span>
            <span><p2 class="bbb"> Demo: </p2><p2><a href="{{ each.demo }}">{{ each.demo }}</a></p2></span>
            <p2 class="line"> {{ line }}</p2>
        {% endfor %}

    {% else %}
        <p1> PROJEKTES:</p1>
         {%  for each in projects %}

             <span><p2 class="bbb"> Name: </p2><p2>{{ each.title_de }}</p2></span>
            <span><p2 class="bbb"> VON - BIS: </p2><p2>{{ each.duration_de }}</p2></span>
            <span><p2 class="bbb"> Beschreibung: </p2><p2>{{ each.description_de }}</p2></span>
            <span><p2 class="bbb"> Benutzt: </p2><p2>{{ each.used }}</p2></span>
            <span><p2 class="bbb"> Link: </p2><p2><a href="{{ each.link }}">{{ each.link }}</a></p2></span>
            <span><p2 class="bbb"> Demo: </p2><p2><a href="{{ each.demo }}">{{ each.demo }}</a></p2></span>
            <p2> {{ line }}</p2>
        {% endfor %}

    {% endif %}
</div>


<div class="work">
    {% if mode %}
        <p1> WORK EXPERIENCE:</p1>
        {%  for each in works %}
            <span><p2 class="bbb"> Position: </p2><p2>{{ each.position_en }}</p2></span>
            <span><p2 class="bbb"> FROM - TO: </p2><p2>{{ each.from_date }} - {{ each.to_date }}</p2></span>
            <span><p2 class="bbb"> Description: </p2><p2>{{ each.description_en }}</p2></span>
            <span><p2 class="bbb"> Employer: </p2><p2>{{ each.employer_en }}</p2></span>
            <p3> =========================</p3>
        {% endfor %}

    {% else %}
        <p1> ARBEITSERFAHRUNG:</p1>
         {%  for each in work %}
             <span><p2 class="bbb"> Beruf oder Funktion: </p2><p2>{{ each.position_de }}</p2></span>
            <span><p2 class="bbb"> Datum (von-bis) : </p2><p2>{{ each.from_date }} - {{ each.to_date }}</p2></span>
            <span><p2 class="bbb"> Beschreibung:  </p2><p2>{{ each.description_de }}</p2></span>
            <span><p2 class="bbb"> Arbeitgeber: </p2><p2>{{ each.employer_de }}</p2></span>
            <p3> =========================</p3>
        {% endfor %}

    {% endif %}
</div>

</div>
{#<div class="left">#}
{#    <span>Something here?!?</span>#}
{##}
{#</div>#}
</div>
<footer>
    <p2> &copy; 2022 All rights reserved Denislav Petrov </p2>
</footer>
</body>
</html>